@font-face{
    font-family: 'black';
    src: url('Outfit-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bold';
    src: url('Outfit-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'light';
    src: url('Outfit-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'medium';
    src: url('Outfit-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'regular';
    src: url('Outfit-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'thin';
    src: url('Outfit-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'extra-bold';
    src: url('Outfit-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'extra-light';
    src: url('Outfit-ExtraLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'semi-bold';
    src: url('Outfit-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'regular';
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: hsl(330, 100%, 98%);
}
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'regular';
    margin: 2rem auto;
    max-width: 800px;
    width: 90%;
    border-radius: 15px;
    background-color: hsl(0, 0%, 100%);
    padding: 30px;
    color: hsl(30, 10%, 34%);
    font-size: 16px;
}
img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    border-radius: 10px;
}
.prep{
    background-color: hsl(300, 59%, 98%);
    padding: 1px 15px;
    border-radius: 10px;
}
hr {
    width: 100%;
    border: 1px solid hsl(0, 0%, 90%);
}
h1  {
    font-family: YoungSerif-Bold;
    color: hsl(24, 5%, 18%);
    font-size: 2.4em;
    font-weight: 900;
}
h2 {
    font-family: YoungSerif-Bold;
    color: hsl(14, 46%, 35%);
}
h3 {
    font-family: 'regular';
    color: hsl(332, 51%, 32%);
}
.prep-time ::marker {
    color: hsl(332, 51%, 32%);
}
.prep-time b{
    color: hsl(18, 5%, 36%);
}
.prep-time{
    color: hsl(30, 10%, 34%);
}
.ingredients-list ::marker {
    color: hsl(14, 46%, 35%);
}
.instructions-list ::marker {
    color: hsl(14, 46%, 35%);
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid hsl(30, 18%, 87%);
}

th {
    font-family: 'thin';
    
    color: hsl(30, 10%, 34%);
}

td {
    color: hsl(14, 46%, 35%);
    font-family: 'bold';
}

